* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.comment-form {
    position: relative;
    left: 31%;
    width: 40%;
    background-color: #B6CBBD;
    border: 1px solid #578FCA;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.comment-form p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #578FCA;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.comment-form hr {
    border: none;
    height: 2px;
    background-color: #3674B5;
}

.comment-form form textarea {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    border: none;
    outline: none;
    caret-color: #578FCA;
    resize: none;
}

.comment-form form input[type="submit"] {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #578FCA;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.comment-form form input[type="submit"]:hover {
    background-color: #3674B5;
}